/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 nov. 2024, 00:48:28
    Author     : Jose Pablo
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #323232;
    font-family: "Montserrat";
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    padding: 10px;
    font-size: 1.1rem;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
}

.contenedor-global {
    background-color: white;
    padding: 1rem 1rem;
    border-radius: .8rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 600px;
    min-height: 430px;
}

textarea {
    width: 98%;
    height: 85px;
}

input {
    margin-bottom: 10px;
    border-radius: .3rem;
    border: 1px solid black;
}

input[type="radio"] {
    cursor: pointer;
}

.input-pokemon {
    padding: 6px;
}

.boton {
    margin-top: 10px;
    margin-right: 10px;
    padding: 13px 15px;
    border-radius: 5rem;
}

.rojo {
    font-weight: 600;
    background-color: #FF0000;
    color: white;
    cursor: pointer;
}

.gris {
    font-weight: 600;
    background-color: #B3B3B3;
    color: black;
    cursor: pointer;
    width: 100px;
}

input[type="number"] {
    margin-top: 10px;
}